.bundle/
.yardoc
Gemfile.lock
/core_gem/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/core_gem/pkg/
/spec/reports/
/tmp/
.idea
.sass-cache

# rspec failure tracking
.rspec_status
/Gemfile.local
*.dc
*.dct
.nyc_output/
