.bundle/
.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.idea
.sass-cache

# rspec failure tracking
.rspec_status
/Gemfile.local
/spec/cli_fixtures/covered_trivial_gem/deep_cover/
