sudo: false
language: ruby
rvm:
  - ruby-head
  - 2.5.0
  - 2.4.1
  - 2.3.4
  - 2.2.7
  - 2.1.10
  - jruby-9.1.9.0
before_install:
  - gem install bundler -v 1.15.4
  - npm install -g nyc
before_script:
  - bundle exec rake dev:install
script:
  - bundle exec rake test:all
matrix:
  allow_failures:
  - rvm: jruby-9.1.9.0
  - rvm: ruby-head
